body {
    background-color: #d2e9aa;
  }
  p {
    font-size: 32px;
    font-weight: bold;
  }
  .click {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #61b15a;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 32px;
    color: #fff;
  }
  .click:hover {
    box-shadow: 0px 0px 30px rgba(97,177,90,.4);
  }
  .click:active {
    top: 2px;
  }
  #ulang {
    font-size: 18px;
    color: #000;
    cursor: pointer;
    text-decoration: underline !important;
  }
  #ulang a:hover {
    text-decoration: underline !important;
    color: steelblue;
  }